.prose img {
  @apply w-full;
}

.prose p {
  line-height: 1.55 !important;
}

.prose ul,
.prose li p {
  @apply !m-0;
}

.prose a {
  @apply no-underline hover:underline text-c-active font-normal;
}

.prose hr {
  @apply border-t border-c;
}

main:not(.post) a.header-anchor {
  @apply hidden;
}

/** KaTeX **/

.prose .katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.prose .katex {
  font-size: 1.1em;
}

/** Code blocks **/

.prose pre:not(.shiki) {
  @apply p-0;
}

.prose code[class*=language-] {
  @apply relative;
}

.prose code[class*=language-] > span.lang {
  @apply absolute top-6 right-2.5 text-xs opacity-60 hidden sm:block;
}

.prose .shiki {
  font-size: 1.05em;
  line-height: 1.4;
}

.shiki-light,
.shiki-dark {
  @apply !bg-transparent border px-5 py-4;
}

.shiki-light {
  @apply border-gray-300;
}

.shiki-dark {
  @apply border-gray-500;
}

html.dark .shiki-light {
  @apply hidden;
}

html:not(.dark) .shiki-dark {
  @apply hidden;
}
