.post a.header-anchor {
  @apply float-left ml-[-1.3em] text-[0.75em] opacity-0 text-c no-underline lt-sm:hidden;
}

.post h2:hover .header-anchor,
.post h2:focus .header-anchor,
.post h3:hover .header-anchor,
.post h3:focus .header-anchor,
.post h4:hover .header-anchor,
.post h4:focus .header-anchor,
.post h5:hover .header-anchor,
.post h5:focus .header-anchor,
.post h6:hover .header-anchor,
.post h6:focus .header-anchor {
  @apply opacity-50;
}

h2#toc {
  @apply hidden;
}

h2#toc + ul {
  @apply hidden fixed z-30 w-55 top-20 right-0 bottom-0 pl-0 pt-18 pr-5.5 overflow-y-auto text-[0.8em] text-right lt-xl:(top-0 bg-c border-l border-c shadow);
}

.toc-open h2#toc + ul {
  @apply block;
}

h2#toc + ul a {
  @apply text-c;
}

h2#toc + ul li {
  @apply list-none truncate;
}

h2#toc + ul > li > p::before,
h2#toc + ul > li > a::before {
  @apply content-["#"] opacity-60 mr-1;
}

h2#toc + ul > li > ul > li {
  @apply opacity-60;
}

h2#toc + ul::-webkit-scrollbar {
  @apply hidden;
}
