.post a.header-anchor {
  @apply float-left ml-[-1.3em] text-[0.75em] opacity-0 text-c no-underline lt-sm:hidden;
}

.post h2:hover .header-anchor,
.post h2:focus .header-anchor,
.post h3:hover .header-anchor,
.post h3:focus .header-anchor,
.post h4:hover .header-anchor,
.post h4:focus .header-anchor,
.post h5:hover .header-anchor,
.post h5:focus .header-anchor,
.post h6:hover .header-anchor,
.post h6:focus .header-anchor {
  @apply opacity-50;
}

.table-of-contents {
  @apply fixed z-10 bottom-0 pt-28 pl-2 overflow-y-auto text-[0.8em] text-right lt-xl:(bg-c border-l border-c shadow);
}

.table-of-contents,
.table-of-contents-btns {
  @apply hidden w-55 pr-5.5 top-0 xl:top-13 right-0;
}

.toc-open .table-of-contents,
.toc-open .table-of-contents-btns {
  @apply block;
}

.table-of-contents a {
  @apply text-c;
}

.table-of-contents li {
  @apply truncate;
}

.table-of-contents > li > p::before,
.table-of-contents > li > a::before {
  @apply content-["#"] opacity-60 mr-1;
}

.table-of-contents > li > ul {
  @apply pl-0;
}

.table-of-contents > li > ul > li {
  @apply opacity-60;
}

.table-of-contents::-webkit-scrollbar {
  @apply hidden;
}

@media print {
  .post header,
  .post footer,
  .post .table-of-contents-btns,
  .post .content + div,
  .post .content + div + div,
  .post .content + div + div + div {
    @apply !hidden;
  }

  .post {
    @apply py-0;
  }

  .table-of-contents {
    @apply relative w-full border-none shadow-none p-0 pb-10 text-left;
  }

  .table-of-contents > li > ul {
    @apply pl-5;
  }

  .table-of-contents > li > p::before,
  .table-of-contents > li > a::before {
    @apply content-none mr-0;
  }
}
