---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title={`404 Not Found - ${SITE.title}`}>
  <div class="font-bold absolute h-fit inset-0 m-auto text-center">
    <p class="emoji text-5xl"></p>
    <h1 text-2xl mt-5 mb-2>404 - How did we get here?</h1>
    <a href="/" class="text-2xl hover:underline"> $ cd /home/</a>
  </div>
</Layout>

<script>
  const emojiArray = [
    "\\(o_o)/",
    "(o^^)o",
    "(˚Δ˚)b",
    "(^-^*)",
    "(^_^)b",
    "(╯‵□′)╯",
    "(='X'=)",
    "(>_<)",
    "\\(°ˊДˋ°)/",
    "ㄟ(▔▽▔)ㄏ"
  ];

  const emoji = document.querySelector(".emoji");
  if (emoji) emoji.innerHTML = emojiArray[Math.floor(Math.random() * emojiArray.length)];
</script>
