---
import { SITE } from "@config";
import { getPosts, getPostDate, formatDate } from "@utils";
import Layout from "@layouts/Layout.astro";
import Search from "@components/Search";

const posts = await getPosts();
const searchList = posts.map(({ id, slug, body, data }) => ({
  slug,
  title: data.title,
  date: formatDate(getPostDate(id), 2),
  excerpt: body.substring(0, 100).replace("## toc", "")
}));
---

<Layout title={`Search - ${SITE.title}`}>
  <h1 pb-2>Search</h1>
  <Search client:load searchList={searchList} />
</Layout>
