---
export interface Props {
  front: string;
  back?: string;
  alt?: string;
}

const { front, back = front, alt = "" } = Astro.props;
---

<div class="group relative size-full perspective-600">
  <img class="no-zoom group-hover:rotate-y-180" src={front} alt={alt} />
  <img class="no-zoom -rotate-y-180 group-hover:rotate-y-0" src={back} alt={alt} />
</div>

<style scoped>
img {
  @apply absolute !my-0 rounded-md shadow shadow-c transition-transform duration-700;
  backface-visibility: hidden;
}
</style>
