---
export interface Props {
  front: string;
  back?: string;
  alt?: string;
}

const { front, back = front, alt = "" } = Astro.props;
---

<div class="flip-image perspective-600">
  <div class="flip-image-card">
    <img class="front no-zoom" src={front} alt={alt} />
    <img class="back no-zoom" src={back} alt={alt} />
  </div>
</div>

<style scoped>
  .flip-image-card {
    @apply duration-800;
    transform-style: preserve-3d;
  }

  img {
    @apply absolute !my-0 rounded-md shadow shadow-gray-700/50 dark:shadow-gray-900/50;
    backface-visibility: hidden;
  }

  img.front {
    @apply z-2 rotate-y-0;
  }

  img.back {
    @apply z-1 rotate-y-180;
  }

  .flip-image:hover .flip-image-card {
    @apply rotate-y-180;
  }
</style>
