<footer
  class="max-w-[810px] w-full hstack justify-between font-ui"
  m="x-auto t-20"
  text="xs lg:sm"
>
  <span text-fg-light>
    <span>© Xiaohan Zou 2024</span>
    <span lt-sm:hidden>· A dragon lost in human world</span>
  </span>

  <span hstack gap-x-3>
    <a
      href="https://github.com/Renovamen/renovamen.github.io"
      aria-label="Source code"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div i-lucide:code-2></div>
      <span lt-sm:hidden>Code</span>
    </a>
    <a href="/rss.xml" aria-label="RSS" target="_blank" rel="noopener noreferrer">
      <div i-heroicons:rss-20-solid></div>
      <span lt-sm:hidden>RSS</span>
    </a>
    <a
      href="/sitemap-index.xml"
      aria-label="Sitemap"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div i-bx:map-alt></div>
      <span lt-sm:hidden>Sitemap</span>
    </a>
  </span>
</footer>

<style scoped>
  footer a {
    @apply hstack gap-x-1 text-fg-light hover:(text-fg-dark underline);
  }
</style>
