<footer
  class="w-full hstack justify-between font-ui text-sm"
  m="x-auto t-20"
  max-w="[720px] lg:[810px]"
>
  <span text-fg-light>
    <span>© Xiaohan Zou 2024</span>
    <span lt-sm:hidden>· A dragon lost in human world</span>
  </span>

  <span hstack gap-x-3>
    <a
      href="https://github.com/Renovamen/renovamen.github.io"
      aria-label="Source code"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-lucide:code-2></div>
      <span lt-sm:hidden>Code</span>
    </a>
    <a
      href="/rss.xml"
      aria-label="RSS"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-heroicons:rss-20-solid></div>
      <span lt-sm:hidden>RSS</span>
    </a>
    <a
      href="/sitemap-index.xml"
      aria-label="Sitemap"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-bx:map-alt></div>
      <span lt-sm:hidden>Sitemap</span>
    </a>
  </span>
</footer>
