<span text-c-lighter text-2xl>
  <a class="link" href="/posts">EN</a> /
  <a class="link" href="/posts/zh">中文</a>
</span>

<style scoped>
  a.link {
    @apply !font-bold !text-c-lighter !opacity-100;
  }
</style>
